@font-face {
  font-family: Druk-Heavy;
  src: url("../fonts/DrukText-Heavy-Trial.otf");
}

@font-face {
  font-family: Inter-Light;
  src: url("../fonts/Inter-Light.otf");
}

@font-face {
  font-family: Inter-Thin;
  src: url("../fonts/Inter-Thin.otf");
}

@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/Inter-Regular.otf");
}

@font-face {
  font-family: Oswald;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");
}
